<form [formGroup]="loginForm" class="login100-form" (ngSubmit)="login()">
    <span class="login100-form-title">LOG IN</span>
    
    <!-- EMAIL-->
    <mat-form-field class="login100-form-field">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="example@email.com"
        formControlName="email">
        <span class="text-danger" *ngIf="validateField('email')">Field is required.</span>
    </mat-form-field>

    <!-- PASSWORD-->
    <mat-form-field class="login100-form-field">
        <mat-label>Password</mat-label>
        <input type="{{hide ? 'password' : 'text'}}" matInput placeholder="example@email.com"
        formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <span class="text-danger" *ngIf="validateField('password')">Field is required.</span>
    </mat-form-field>

    <div class="login100-form-field">
        <button class="login100-form-btn" type="submit" mat-raised-button color="accent" cdkFocusInitial>Log in</button>
    </div>

    <div class="flex-center margin-spacer">
        <span>Don't have an account?</span>
        <a routerLink="/auth/register" class="text">Sign up here</a>
    </div>
</form>