<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar>
            <span>Menu</span>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
                (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let option of sidenavList">
                <mat-icon matListItemIcon>{{option.icon}}</mat-icon>
                <a matListItemTitle href={{option.route}}>{{option.name}}</a>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon"
        (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Hahn Softwareentwicklung app</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-sidenav-container>