.container {
    margin: 20px;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
}
.card {
    max-width: 400px;
}

.card-header-image {
    background-image: url('./../../../../../assets/images/user-icon.jpg');
    background-size: cover;
}

.card-image {
    width: auto;
    max-height: 100%;
}

p {
    text-align: justify;
    text-justify: inter-word;
}